.gradle/
build/
**/build/
!src/**/build/
out/
.idea/
*.iml
*.iws
*.ipr
local.properties
captures/
.kotlin/
.cxx/
.externalNativeBuild/
xcuserdata/
*.xcuserstate
*.xcworkspace
DerivedData/
Pods/
*.hprof
.DS_Store
