@page "/settings/appearance"
@inject LayoutService layoutService

<PageTitle>Apariencia - Photonne</PageTitle>

<div class="page-pad">
    <MudText Typo="Typo.h5" Class="mb-6">Apariencia</MudText>

    <MudGrid>
        <MudItem xs="12" md="6">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Tema</MudText>
                        <MudText Typo="Typo.body2">Elige entre el modo claro y oscuro.</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex align-center">
                        <MudIcon Icon="@Icons.Material.Filled.LightMode" Class="mr-3" />
                        <MudSwitch T="bool"
                                   Value="layoutService.IsDarkMode"
                                   ValueChanged="@(async v => await layoutService.ToggleDarkModeAsync())"
                                   Color="Color.Primary" />
                        <MudIcon Icon="@Icons.Material.Filled.DarkMode" Class="ml-1" />
                        <MudText Typo="Typo.body1" Class="ml-4">
                            @(layoutService.IsDarkMode ? "Modo oscuro" : "Modo claro")
                        </MudText>
                    </div>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</div>
