# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/

# Generated
src/lib/api/generated
src/lib/paraglide

# Written by the inlang compiler
project.inlang/README.md
project.inlang/.meta.json
project.inlang/.lix
